{% extends 'products/category_base.html' %}

{% block page_description %}
<div class="alert alert-light mb-4">
    <div class="row align-items-center">
        <div class="col-md-8">
            <h4>Handcrafted Jewelry Collection</h4>
            <p class="mb-0">Browse our exquisite collection of handmade jewelry crafted by skilled artisans. Each piece tells a unique story and adds a touch of elegance to your style. From statement necklaces to delicate earrings, find the perfect accessory for any occasion.</p>
        </div>
        <div class="col-md-4 text-end">
            <img src="/static/img/categories/jewelry-banner.jpg" alt="Jewelry" class="img-fluid rounded" style="max-height: 120px;">
        </div>
    </div>
</div>
{% endblock %}
