{% extends 'products/category_base.html' %}

{% block page_description %}
<div class="alert alert-light mb-4">
    <div class="row align-items-center">
        <div class="col-md-8">
            <h4>Explore Our Paintings Collection</h4>
            <p class="mb-0">Discover unique handcrafted paintings from talented artists around the world. From traditional to contemporary styles, find the perfect piece to adorn your walls and express your personality.</p>
        </div>
        <div class="col-md-4 text-end">
            <img src="/static/img/categories/paintings-banner.jpg" alt="Paintings" class="img-fluid rounded" style="max-height: 120px;">
        </div>
    </div>
</div>
{% endblock %}
