{% extends 'products/category_base.html' %}

{% block page_description %}
<div class="alert alert-light mb-4">
    <div class="row align-items-center">
        <div class="col-md-8">
            <h4>Artisanal Home Decor</h4>
            <p class="mb-0">Transform your living space with our handcrafted home decor items. From wall hangings and pottery to textiles and sculptures, our collection features unique pieces that add character and warmth to any room. Each item is carefully crafted by skilled artisans using traditional techniques.</p>
        </div>
        <div class="col-md-4 text-end">
            <img src="/static/img/categories/home-decor-banner.jpg" alt="Home Decor" class="img-fluid rounded" style="max-height: 120px;">
        </div>
    </div>
</div>
{% endblock %}
