{% extends 'products/category_base.html' %}

{% block page_description %}
<div class="alert alert-light mb-4">
    <div class="row align-items-center">
        <div class="col-md-8">
            <h4>Thoughtful Handmade Gifts</h4>
            <p class="mb-0">Find the perfect handcrafted gift for your loved ones. Our collection features unique items for every occasion - birthdays, anniversaries, holidays, or just because. Each gift is made with love and attention to detail, ensuring a memorable present that will be cherished for years.</p>
        </div>
        <div class="col-md-4 text-end">
            <img src="/static/img/categories/gifts-banner.jpg" alt="Gifts" class="img-fluid rounded" style="max-height: 120px;">
        </div>
    </div>
</div>
{% endblock %}
