{% extends 'products/category_base.html' %}

{% block page_description %}
<div class="alert alert-light mb-4">
    <div class="row align-items-center">
        <div class="col-md-8">
            <h4>On Sale</h4>
            <p class="mb-0">Take advantage of special discounts on selected handcrafted items. Our sale collection features high-quality artisanal products at reduced prices for a limited time. Don't miss the opportunity to own these unique pieces at exceptional value.</p>
        </div>
        <div class="col-md-4 text-end">
            <img src="/static/img/collections/on-sale-banner.jpg" alt="On Sale" class="img-fluid rounded" style="max-height: 120px;">
        </div>
    </div>
</div>
{% endblock %}
