{% extends 'products/category_base.html' %}

{% block page_description %}
<div class="alert alert-light mb-4">
    <div class="row align-items-center">
        <div class="col-md-8">
            <h4>New Arrivals</h4>
            <p class="mb-0">Discover our latest additions to the VarnikaKart collection. Stay ahead of trends with fresh, innovative designs from our talented artisans. We regularly update our inventory with new handcrafted treasures for you to explore.</p>
        </div>
        <div class="col-md-4 text-end">
            <img src="/static/img/collections/new-arrivals-banner.jpg" alt="New Arrivals" class="img-fluid rounded" style="max-height: 120px;">
        </div>
    </div>
</div>
{% endblock %}
